<md-dialog class="add-device-modal" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Add Device</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <md-dialog-content class="add-device-content">
        <iframe ng-if="cmod.URL" ng-src="{{cmod.URL}}"></iframe>
    </md-dialog-content>
    <md-dialog-actions class="add-device-actions" ng-if="!cmod.finished">
        <div class="flex-extender"></div>
        <button class="ui button" ng-click="cmod.cancel()">Cancel</button>
    </md-dialog-actions>
</md-dialog>
