<!-- Signup -->
<div class="login-wrapper">
    <p class="message">Login to an existing account.</p>
    <form class="login" novalidate name="loginForm" ng-model="loginForm">
        <!-- Line 1 -->
        <div class="row">
            <div class="input-field">
                <input type="text" ng-model="username" id="username" name="username" required>
                <label for="username">Username</label>
            </div>
        </div>
        <!-- Line 2 -->
        <div class="row">
            <div class="input-field">
                <input type="password" ng-model="password" id="password" name="password" required ng-maxlength="16">
                <label for="password">Password</label>
            </div>
        </div>
        <div>
            <a class="waves-effect waves-light btn" type="submit" ng-disabled="loginForm.$invalid" ng-click="ctrl.login(username, password)">Login</a>
            <a class="waves-effect waves-light red btn" ui-sref="register">Cancel</a>
        </div>
        <!-- ngMessages form validation -->
        <div class="row">
            <ng-messages class="error-message" for="loginForm.username.$error">
                <ng-message when="required">Please specify a username.</ng-message>
            </ng-messages>
            <ng-messages class="error-message" for="loginForm.password.$error">
                <ng-message when="required">Please specify a password.</ng-message>
                <ng-message when="maxlength">Password is longer than maximum.</ng-message>
            </ng-messages>
        </div>
    </form>
</div>
