<md-dialog aria-label="About" class="signup-modal" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Log In</h2>
            <span flex></span>
        </div>
    </md-toolbar>

    <md-dialog-content layout="row">
        
    </md-dialog-content>

    <div flex class="order-fix"></div>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-warn" ng-click="ctrl.close()">
            Cancel
        </md-button>
        <md-button class="md-primary" ng-click="ctrl.accept()">
            Continue
        </md-button>
    </md-dialog-actions>
</md-dialog>
