<div class="signup">
    <p class="message">
        This is a demo for the 2Q2R two factor authention server. To use, you need to install a 2Q2R app (Android or iOS) or aquire an FIDO U2F device.
    </p>
    <div class="signup-form-wrapper">
        <form class="signup-form" novalidate name="signupForm" ng-model="signupForm">
            <!-- Line 1 -->
            <div class="row">
                <div class="input-field">
                    <input type="text" ng-model="username" id="username" name="username" required>
                    <label for="username">Username</label>
                </div>
            </div>
            <!-- Line 2 -->
            <div class="row">
                <div class="input-field">
                    <input type="password" ng-model="password" id="password" name="password" required ng-maxlength="16">
                    <label for="password">Password</label>
                </div>
            </div>
            <!-- Line 3 -->
            <div class="field">
                <div class="input-field">
                    <input type="password" ng-model="passwordRetype" id="passwordRetype" name="passwordRetype" data-match="signupForm.password" required ng-maxlength="16">
                    <label for="passwordRetype">Retype your password</label>
                </div>
            </div>
            <!-- Submit button -->
            <a class="waves-effect waves-light btn" ng-disabled="signupForm.$invalid && signupForm.password !== signupForm.passwordRetype" ng-click="ctrl.signup(username, password)">Sign Up</a>
            <!-- ngMessages form validation -->
            <div class="field">
                <ng-messages class="error-message" for="signupForm.username.$error">
                    <ng-message when="required">Invalid username.</ng-message>
                </ng-messages>
                <!-- space that out -->
                <ng-messages class="error-message" for="signupForm.password.$error">
                    <ng-message when="required">Invalid password.</ng-message>
                    <ng-message when="maxlength">Password is longer than maximum.</ng-message>
                </ng-messages>
                <ng-messages class="error-message" for="signupForm.passwordRetype.$error">
                    <ng-message when="required">Retype password.</ng-message>
                    <ng-message when="match">Passwords do not match.</ng-message>
                </ng-messages>
            </div>
        </form>
        <!-- Or log in -->
        <div class="login-re-btn">
            <a class="waves-effect waves-light btn" ui-sref="login">Log In</a>
        </div>
    </div>
</div>
