<md-dialog aria-label="About" class="signup-modal" ng-cloak>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Registration  for {{cmod.email}}</h2>
            <span flex></span>
        </div>
    </md-toolbar>
    <!-- If 2Q2R -->
    <md-dialog-content layout="row" ng-if="cmod.device == '2q2r'">
        <div class="md-dialog-content">
            <div class="qrcode-wrapper">
                <qr class="qrcode" text="cmod.testqr"></qr>
                <div class="qr-instructions">
                    <ol>
                        <li>Get the 2Q2R App, available on <a href="#">the Google Play Store</a>.</li>
                        <li>Open the app, and scan the QR code above.</li>
                    </ol>
                </div>
            </div>
        </div>
    </md-dialog-content>
    <!-- If U2F -->
    <md-dialog-content layout="row" ng-if="cmod.device == 'u2f'">
        <div class="md-dialog-content">
            <div class="qrcode-wrapper">
                <div class="qr-instructions">
                    <ol>
                        <li>Some other instructions for U2F.</li>
                        <li>Perhaps a guide for linux?</li>
                    </ol>
                </div>
            </div>
        </div>
    </md-dialog-content>

    <div flex class="order-fix"></div>
    <md-dialog-actions layout="row">
        <span flex></span>
        <md-button class="md-warn">
            Cancel
        </md-button>
        <md-button class="md-primary" ng-click="cmod.testprint()">
            Continue
        </md-button>
    </md-dialog-actions>
</md-dialog>
