<div class="todo">
    <div class="todo-actions">
        <!-- Trigger -->
        <a class="icon-button" href='javascript:void(0);' data-activates='actions' dropdown><i class="material-icons">settings</i></a>
        <!-- The popup -->
        <ul id='actions' class='dropdown-content'>
            <li><a href='javascript:void(0);' ng-click="ctrl.logout()">Logout</a></li>
            <li class="divider"></li>
            <li><a href='javascript:void(0);' ng-click="ctrl.addDeviceDialog()">Add Device</a></li>
            <li><a href='javascript:void(0);' ng-click="ctrl.deleteDeviceDialog()">Delete Device</a></li>
        </ul>
        <div class="input-field">
            <input type="text" ng-model="ctrl.newTodo" id="newTodo" autofocus>
            <label for="newTodo">Write a todo...</label>
        </div>
        <a class="btn-floating red" ng-click="ctrl.addTodo()"><i class="material-icons">add</i></a>
    </div>
    <div class="todo-list">
        <h6 class="ui sub header">
          Active Todos
        </h6>
        <div class="material-list">
            <div class="material-item" ng-repeat="todo in ctrl.todos | filter:{completed:false}">
                <input type="checkbox" id="{{ todo.title }}" ng-model="todo.completed"/>
                <label for="{{ todo.title }}">{{ todo.title }}</label>
                <a href='javascript:void(0);' ng-click="ctrl.removeTodo($index)">
                    <i class="material-icons">delete</i>
                </a>
            </div>
        </div>
        <h6 class="ui sub header">
          Completed
        </h6>
        <div class="material-list">
            <div class="material-item" ng-repeat="todo in ctrl.todos | filter:{completed:true}">
                <input type="checkbox" id="{{ todo.title }}" ng-model="todo.completed"/>
                <label for="{{ todo.title }}">{{ todo.title }}</label>
                <a href='javascript:void(0);' ng-click="ctrl.removeTodo($index)">
                    <i class="material-icons">delete</i>
                </a>
            </div>
        </div>
    </div>
</div>
