body {
    overflow: hidden;
    position: static !important;
}

a {
    text-decoration: none;
    font-weight: 700;
}

.todo-wrap {
    margin: 0 auto;
    margin-top: 6em;
}

.todo-title {
    text-align: center;
    font-size: 60px;
}

.todo {
    width: 600px;
    padding: 0.5em 0 0.5em 0;
    margin: 0 auto;
    height: 44em;
}

.todo-title {}

.todo-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.todo-header {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    height: 4em;
}

.todo-list-inner {
    overflow-y: auto;
    max-height: 40.5em;
}

.todo-input {
    width: 32rem;
}

.todo-divider {
    width: 100%;
    height: 1px;
    background: #F2F2F2;
}

.todo-completed {
    text-decoration: line-through;
}

button:hover {
    background-color: rgba(158, 158, 158, 0.2);
}

.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.login-title {
    font-size: 65px;
    padding-bottom: 4rem;
}

.login {
    height: 24em;
    width: 60em;
    display: flex;
}

.login-tabs {
    width: 100%;
}

.login-tab-wrapper {
    display: flex;
}

.login-tab {
    width: 40%;
    padding: 1em 0.5em 0 2em;
}

.login-explain {
    padding: 1em 1em 1em 4em;
    width: 60%;
}

.signup-modal {
    width: 42em;
}

.qrcode-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.qrcode {
    display: inline-block;
}

.qr-instructions {
    text-align: left;
}

.check-fix {
    margin-left: 8px !important;
}

.order-fix {
    order: 2 !important;
}

md-tabs-wrapper {}

md-tabs-wrapper > md-tabs-canvas > md-pagination-wrapper > md-tab-item:not([disabled]) {
    color: rgba(0, 0, 0, 0.54) !important;
}

md-tabs .md-tab.md-active {
    color: rgb(63, 81, 181) !important;
}

.md-list-item-inner {
    padding: 0 !important;
}


/* Fix to perfectly center icon buttons with font awesome */

.md-icon-button {
    text-align: center;
    line-height: 48px;
    /* Or whatever the height of your icon-button is */
}

.md-icon-button i {
    line-height: inherit;
}

md-dialog-actions {
    order: 2 !important;
    /* Sometimes, the modals have the actions before the dialog-content, which kind of make sense mechanically because somewhere,
    order: 1; is set for the actions for no discernable reason. */
}

md-dialog {
    max-width: 100vw;
    max-height: 100vh;
}

md-dialog-content {
    width: 100%;
}

.md-dialog-content {
    width: 100%;
}