html {
    background: #F2F2F2 !important;
}

body {
    background: #F2F2F2 !important;
    margin: 0;
    overflow: hidden;
}

.banner {
    width: 100%;
    height: 8rem;
    background: #FBFBFB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img {
    height: 7rem;
}


/* Login page */

.login {
    height: 100%;
}

.login-device {
    height: calc(100% - 8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.login-text {
    font-size: 24px;
}

.login-icon-buttons {
    width: 56rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 18rem;
}

.login-icon-button {
    /* a lot goes into this one, could be shortened down with shorthand */
    width: 10rem;
    margin: 0 2rem 0 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: 0;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-icon-button p {
    width: 10rem;
}

.login-icon-button img {
    width: 10rem;
}

.signlog {
    height: calc(100% - 8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-wrapper {
    width: 56em;
    position: relative;
    margin-bottom: 18rem !important;
}

.signup-wrapper {
    width: 100%;
    height: calc(100% - 8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.signup {
    width: 24rem;
    margin-bottom: 18rem !important;
}

.signup-text {
    font-size: 20px;
    text-align: center;
}

.signup-return {
    width: 100%;
    height: calc(100% - 8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    font-size: 20px;
}

.error-message {
    color: maroon;
}

.demo-header {
    text-align: center;
    font-size: 24px;
}

.copyright {
    position: absolute;
    bottom: 0;
}

.vert-fix {
    /* Provide a small unit to cancel out semantic thing */
    left: 50% !important;
}

.return {
    margin-bottom: 24rem;
}


/* Debug styles */

.debug-strip {
    background-color: #e3e3e3;
    margin-top: 1rem;
    display: inline-block;
}

.debug-state {
    font-size: 18px;
    padding: 1rem;
}
