/* Globals */

html {
    background: #F2F2F2 !important;
    overflow-y: auto !important;
}

body {
    background: #F2F2F2 !important;
    margin: 0;
    overflow: hidden;
}

.flex-extender {
    flex-grow: 1;
}

.spacer {
    height: 4rem;
}

.banner {
    width: 100%;
    height: 8rem;
    background: #FBFBFB;
    display: flex;
    align-items: center;
    justify-content: center;
}

.banner img {
    height: 7rem;
}

.main-container {
    height: 100%;
}

.demo-header {
    text-align: center;
    font-size: 24px;
}

.copyright {
    position: absolute;
    bottom: 0;
}

.message {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    max-width: 50rem;
    margin-bottom: 3rem;
}

.error-message {
    color: maroon;
}

.form-wrapper {
    width: 56em;
    position: relative;
}

.error {
    border-color: red;
}

ng-messages {
    display: block;
}


/* Signlog */

.signlog {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signlog-form {
    display: flex;
    margin-bottom: 24rem;
}

.signlog-form .message {
    max-width: 36rem;
    margin-left: 2rem;
}

.signlog-form form {
    width: 22rem;
}


/* Signup */

.signup-wrapper {
    width: 100%;
    height: calc(100% - 8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup {
    width: 24rem;
}

.signup-return {
    width: 100%;
    height: calc(100% - 8rem);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-device {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.signup-device-form form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.device-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.device-info img {
    height: 8rem;
}

.device-info p {
    font-size: 18px;
    max-width: 65rem;
}

.device-button {
    display: flex;
    justify-content: center;
}


/* The actual registration process */

.device-register {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.device-register-2q2r {
    width: 32rem;
}

.stage-1-2q2r {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
}

.stage-1-2q2r qr > canvas {
    height: 200px;
    width: 200px;
    padding: 5px;
}

.device-register-u2f {
    width: 32rem;
    background: blue;
}


/* Add device modal */

.add-device-modal {}

.add-device-content {
    width: 56rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
}

.add-device-content > ng-dropdown {
    margin-bottom: 0.5rem;
}

.add-device-dropdown {
    margin-top: 1rem !important;
}

.add-device-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 17px;
    margin: 1rem;
}

.add-device-info img {
    height: 8rem;
}

.qr-generate {
    width: 32rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.qr-generate qr > canvas {
    height: 200px;
    width: 200px;
    margin: 2rem 0 2rem 0;
}

.device-success {
    height: 8rem;
    width: 24rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.device-success p {
    margin: 1rem;
}


/*Delete device modal */


/* Delete account modal */

.delete-account {
    width: 32rem;
    height: 16rem;
    display: flex;
    flex-direction: column;
}

.delete-account-content {
    flex-grow: 1;
    font-size: 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* Login */

.login {
    height: 100%;
}

.login-device {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-icon-buttons {
    width: 56rem;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.login-icon-button {
    /* a lot goes into this one, could be shortened down with shorthand */
    width: 10rem;
    margin: 0 2rem 0 2rem;
    flex-grow: 1;
    flex-shrink: 1;
    margin-top: 0;
    cursor: pointer;
    text-align: center;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-icon-button p {
    width: 10rem;
}

.login-icon-button img {
    width: 10rem;
}


/* Todo */

.todo-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.todo {
    width: 40rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.todo-actions {
    display: flex;
    justify-content: center;
    margin-bottom: 1rem;
}

.todo-actions .input {
    width: 80%;
}

.todo-list {
    overflow-x: hidden;
    overflow-y: auto;
    height: 53rem;
}

.todo-name {
    width: 412px;
    max-width: 412px;
    overflow: hidden;
    text-overflow: ellipsis;
}


/* Fixes */

.ui.search.selection.dropdown>input.search {
    cursor: pointer;
}

.vert-fix {
    /* Cancels out semantic style to center */
    left: 50% !important;
}

.dropdown > .icon {
    margin: 0 !important;
}

md-dialog-actions {
    order: 2;
    display: flex;
    margin: 0.5rem 0.2rem 0.5rem 0;
}

md-dialog-actions button {
    margin-right: 0.5rem !important;
}

ng-dropdown > .dropdown > i {
    top: 0 !important;
    padding: 12px 0 12px 0 !important;
}
